.card {
  border: 0px solid var(--border);
  border-radius: 12px;
  background: var(--foreground);
}

.bottom {
  padding: 16px;

  & *:not(:last-child) {
    margin-bottom: 12px;
  }
}

.link {
  background-color: var(--button-secondary);
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 12px;

  width: 100%;

  display: flex;
  justify-content: center;

  @media screen and (min-width: 1440px) {
    padding: 9px;
  }
}
